@media screen and (min-width: 375px) {
    .container {
        max-width: 365px;
    }

    .footer-input-wrap {
        width: 207px;
        margin-bottom: 0;
    }

    .footer-form{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }

    .made > .container{
        max-width: 644px;
    }

    .header-menu {
        display: flex;
        gap: 24px;
    }
    
    .header-menu-link {
        color: var(--main-page-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        /* 16/14 */
        letter-spacing: -0.02em;
        transition: color 200ms ease;
    }
    
    .header-menu-link:is(:hover, :focus) {
        color: var(--accent-color);
    }
    
    .header-socials {
        display: flex;
        gap: 18px;
    }
    
    .header-socials-item {
        height: 24px;
    }
    
    .header-socials-link {
        display: block;
        color: var(--main-page-color);
        transition: color 200ms ease;
    }
    
    .header-socials-icon {
        fill: currentColor;
    }
    
    .header-socials-link:is(:hover, :focus) {
        color: var(--accent-color);
    }

    .btn-menu-open {
        display: none;
    }

    .hero-container {
        padding: 671px 40px 40px 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(./images/chocolate-bg-tablet.jpg);
    }

        @media(min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-container {
                background-image: linear-gradient(180deg, rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(./images/chocolate-bg-tablet-2x.jpg);
            }
        }

    .hero-title{
        font-size: 28px;
        line-height: 1.41;
    }

    .hero-btn{
        margin-bottom: 0;
        padding: 14px 40px;
    }

        
    .hero-link{
        margin-bottom: 0;
        padding: 14px 40px;
    }

    .hero-down-set{
        margin-left: auto;
        margin-top: 0;
    }

    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .advantages-list {
        gap: 32px;
    }

    .advantages-list-item {
        width: calc((100% - 32px) / 2);
    }

    .taste {
        padding-top: 80px;
    }

    .taste-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
    }

    .taste-list {
        gap: 32px;
    }

    .taste-list-item {
        width: calc((100% - 32px) / 2);
    }

    .made {
        padding-top: 80px;
    }

    .made-title {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 50px;
    }

    .made-text {
        margin-bottom: 28px;
    }

    .made-list {
        max-width: 480px;
    }

    .made-content{
        padding: 32px;
    }

    .loved {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .loved-title{
        font-size:24px;
        line-height: 1.17;
        margin-bottom: 91px;
    }

    .loved-list{
        column-gap: 16px;
        margin-bottom: 94px;
    }

    .loved-item{
        width: calc((100% - 32px) / 2);
    }

    .loved-btn{
        font-size: 18px;
        padding: 14px 40px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
        }

    .footer-top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 54px;
        margin-bottom: 24px;
    }

    .footer-mane-text{
        font-size: 28px;
        line-height: 1.21;
    }

    .footer-bottom{
        flex-direction: row;
        align-items: center;
    }

    .footer-navigation {
        margin-bottom: 0;
    }

    .footer-menu{
        flex-direction: row;
        gap: 16px;
        margin-top: 0;
    }

    .footer-form{
        align-items: center;
    }

    .footer-input-wrap {
        width: 233px;
    }

    .footer-label{
        left: 24px;
        font-size: 18px;
    }

    
}

@media screen and (min-width: 1166px) {
    .container, .made>.container {
        max-width: 1166px;
    }

    .hero-container {
        padding: 380px 40px 40px 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(./images/chocolate-bg.jpg);
    }

        @media(min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-container {
                background-image: linear-gradient(180deg, rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)), url(./images/chocolate-bg-2x.jpg);
            }
        }

    .advantages-list {
        gap: 88px;
        padding-left: 16px;
        padding-right: 18px;
    }

    .advantages-list-item {
        width: calc((100% - 88px*2) / 3);
    }

    .advantages-list-item:not(:last-child)::after {
        content: " ";
        height: 124px;
        width: 1px;
        border: 1px solid #FFFFFF80;
        position: absolute;
        right: -44px;
        top: 50%;
        transform: translateY(-50%);

    }

    .taste {
        padding-top: 100px;
    }

    .taste-list {
        gap: 19px;
    }

    .taste-list-item {
        width: calc((100% - 19px*3) / 4);
        ;
    }

    .made {
       padding-top: 100px;
    }

    .made-wrap {
        display: flex;
        gap: 20px;
    }

    .made-list-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .made-image{
        max-width: 600px;
        margin-bottom: 0;
    }

    .made-content {
        max-width: 516px;
    }

    .loved {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .loved-title{
        margin-bottom: 119px;
    }

    .loved-list{
        column-gap: 28px;
        row-gap: 40px;
        margin-bottom: 49px;
    }

    .loved-item{
        width: calc((100% - 56px) / 3);
    }

    .footer-top{
        padding-bottom: 50px;
    }

    .footer-menu{
        gap: 24px;
    }

    .footer-mane-text{
        margin-bottom: 0;
    }

    .footer-form{
        gap: 14px;
    }


    .footer-input-wrap{
        width: 313px;
    }

    .footer-form-btn{
        padding: 17px 40px;
    }
}